.btn{
    padding: 0px 50px;
    cursor: pointer;
    margin: auto;
}

.main{
    display: flex;
    flex-direction: column;
}

.notFound{
    padding: 40px;
    font-size: 18px;
    width:457px
}

@media screen and (max-width:760px){
    .main{
        width:360px
    }
}