.main {
  padding: 20px;
  display: flex;
  gap: 30px;
  margin: 0 auto;
}
h4 {
  margin-bottom: 10px;
}
.wrapper {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 670px) {
  .main {
    flex-wrap: wrap;
  }
}
